{% extends 'core/base.html' %}

{% block title %}Instrukcja użytkowania{% endblock %}

{% block content %}
    <div class="card p-4 text-center">
        <h4 class="mb-5">Instrukcja użytkowania</h4>

        <p>Po stronie panelu admina, który znajduje się <a href="/admin/">tutaj</a> możemy zarządzać dostępnymi kategoriami/przedmiotami oraz zmieniać status zamówień</p>

        <p>Po stronie użytkownika (czyli tutaj) możemy przeglądać przedmioty, dodawać je do koszyka, zamawiać je, przeglądać historię zamówień oraz dodawać opinie</p>

        <p>Na stronie głównej mamy pokazane ostatnio dodane przedmioty, a więcej przedmiotów możemy wyszukać poprzez search bar w lewym górnym rogu strony</p>

        <p>Po wyszukaniu przedmiotu możemy go dodać do koszyka w wybranej przez nas ilości</p>

        <p>Przedmioty w koszyku są widoczne w prawym górnym rogu strony pod przyciskiem "Twój koszyk"</p>

        <p>Gdy znajdują się jakieś przedmioty w koszyku, możemy zacząć proces składania zamówienia poprzez przycisk "Złóż zamówienie". Po tym jestśmy przenoszeni na stronę podsumowania zamówienia</p>

        <p>Na podstronie podsumowania zamówienia potrzebujemy dodać dodatkowe informacje, takie jak adres, imię i nazwisko oraz dodatkowe informacje. Wtedy możemy złożyć zamówienie</p>

        <p>Wtedy nasze przedmioty są usuwane z koszyka a zamówienie zostaje złożone i widnieje w historii, która jest dostępna pod przyciskiem "Historia zamówień" u góry strony</p>

        <p>Tam mamy wszytskie nasze zamówienia oraz ich statusy. Po kliknięciu w nie możemy podejrzeć ich szczegóły</p>

        <p>Administrator widzi zamówienia i może zmienić ich statu</p>

    </div>
{% endblock %}