{% extends 'core/base.html' %}

{% block title %}Historia zamówień{% endblock %}

{% block content %}
    <div class="card p-4">
        <h4 class="text-center">Historia twoich zamówień</h4>

        <hr>

        <ul class="list-group mx-auto w-50">
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="#" class="nav-link text-center text-dark">
                        <div>
                            <p>Zamówienie nr #{{ order.id }}</p>
                            <small>Złożone dnia {{ order.created_at }}</small>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}